{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>jlcontraincendio</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="" alt="">
        </div>
        <ul class="menu">
            <li>Inicio</li>
            <li>Nosotros</li>
            <li>Soluciones</li>
            <li>Experiencia</li>
            <li>Contacto</li>
        </ul>

        <div class="banner">
            <img src="" alt="">
            <h1>Sistemas Contra Incendio</h1>
            <p>Instalación, suministro y diseño de sistemas de supresión y detección de fuego.</p>
        </div>

        <div class="section">
            <h2>Nosotros</h2>
            <h3>JL Contra Incendio</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, asperiores beatae dignissimos doloremque impedit iure magni obcaecati officia, perspiciatis sunt tempora vitae? Aliquam at doloribus iusto, molestiae molestias repudiandae vitae!</p>
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque dicta ex excepturi necessitatibus nostrum praesentium quae vel. A amet atque aut eos excepturi fuga fugiat nisi optio sunt velit.</p>
            <h3>Visión</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque dicta ex excepturi necessitatibus nostrum praesentium quae vel. A amet atque aut eos excepturi fuga fugiat nisi optio sunt velit.</p>
        </div>

        <div class="section">
            <h2>Soluciones</h2>
            <div class="card">
                <h3>Detección y Alarma</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti laboriosam quas. Assumenda eaque expedita nam necessitatibus officia, quod rem repellat saepe. Autem doloremque id libero nesciunt quisquam?</p>
                <img src="" alt="">
            </div>
            <div class="card">
                <h3>Sistema de Rociadores</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti laboriosam quas. Assumenda eaque expedita nam necessitatibus officia, quod rem repellat saepe. Autem doloremque id libero nesciunt quisquam?</p>
                <img src="" alt="">
            </div>
            <div class="card">
                <h3>Equipo de Bombeo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti laboriosam quas. Assumenda eaque expedita nam necessitatibus officia, quod rem repellat saepe. Autem doloremque id libero nesciunt quisquam?</p>
                <img src="" alt="">
            </div>
            <div class="card">
                <h3>Red de Hidrantes</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti laboriosam quas. Assumenda eaque expedita nam necessitatibus officia, quod rem repellat saepe. Autem doloremque id libero nesciunt quisquam?</p>
                <img src="" alt="">
            </div>
            <div class="card">
                <h3>Agentes Limpios</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti laboriosam quas. Assumenda eaque expedita nam necessitatibus officia, quod rem repellat saepe. Autem doloremque id libero nesciunt quisquam?</p>
                <img src="" alt="">
            </div>
            <div class="card">
                <h3>Sistemas de Diluvio</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti laboriosam quas. Assumenda eaque expedita nam necessitatibus officia, quod rem repellat saepe. Autem doloremque id libero nesciunt quisquam?</p>
                <img src="" alt="">
            </div>
            <div class="card">
                <h3>Señalización</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti laboriosam quas. Assumenda eaque expedita nam necessitatibus officia, quod rem repellat saepe. Autem doloremque id libero nesciunt quisquam?</p>
                <img src="" alt="">
            </div>
            <div class="card">
                <h3>Mantenimiento</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti laboriosam quas. Assumenda eaque expedita nam necessitatibus officia, quod rem repellat saepe. Autem doloremque id libero nesciunt quisquam?</p>
                <img src="" alt="">
            </div>
        </div>

        <div class="experience">
            <h2>Experiencia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo nemo neque perferendis possimus quia rem veniam veritatis. Aliquid consequuntur dolorum libero nemo quis recusandae repellat sapiente temporibus, vero voluptatum!</p>
            <img src="" alt="">
        </div>

        <div class="contact-form">
            <h2>Contactanos</h2>
            <form action="">
                <label for="name">Nombre</label>
                <input type="text" id="Name">
                <label for="mail">E-mail</label>
                <input type="email" id="Mail">
                <label for="phone">Teléfono</label>
                <input type="tel" id="Phone">
                <label for="message">Mensaje</label>
                <textarea name="message" id="subject" cols="30" rows="10" placeholder="Escribenos...."></textarea>
                <input type="submit" value="Enviar">
            </form>
            <footer>
                <p>Todos los derechos reservados 2019 | <ul>Política de provacidad</ul></p>
            </footer>
        </div>

    </header>
</body>
</html>